.header
  &-container
    display: flex
    width: 1200px
    height: 135px
    align-items: center
    justify-content: space-around
  &-img
    display: block
    height: 80px
  &-user
    &-container
      display: flex
      justify-content: space-around
    &-list-item
      padding: 1rem
      list-style: none