.header
  margin: auto
  width: 1200px
  &-container
    display: flex
    height: 135px
    align-items: center
    justify-content: space-around
  &-img
    display: block
    height: 100px
  &-user
    &-container
      display: flex
      justify-content: space-around
    &-list-item
      padding: 1rem
      list-style: none